<div class="w-full flex flex-col gap-4">
    <div id="image-view" class="thumbnail-auto bg-background-100 rounded-lg bg-cover bg-center border-2 border-background-100">
        <span id="image-position" class="relative top-2 left-2 px-4 py-1 bg-background-50 rounded-full shadow-lg border-2 border-background-100">1/3</span>
    </div>
    <div id="images-flex" class="images-flex">
        <% images.forEach((image, index) => { %>
            <button class="image-button" onclick="setActiveImage('<%= image %>', '<%= index %>')">
                <img class="thumbnail-md bg-background-100 rounded-lg" src="/<%= image %>" alt="product picture <%= index %>">
            </button>
        <% }); %>
    </div>
</div>

<script>
    const imageViewer = document.querySelector('#image-view');
    const imagePosition = document.querySelector('#image-position');
    const imagesContainer = document.querySelector('#images-flex');

    let activeImageIndex = 0;
    let position = "";

    const setActiveImage = (image, index) => {
        imageViewer.style.backgroundImage = `url("/${ image }")`;
        activeImageIndex = Number(index) + 1;
        position = `${ activeImageIndex }/${ imagesContainer.children.length }`;
        imagePosition.innerHTML = position;
    }

    setActiveImage('<%= images[0] %>', 0)
</script>