<span class="price <%= classes %>">
    <p class="currency"><%= !currency? "GHC" : currency.toUpperCase() %></p>
    <p class="priceWhole"><%= String(price).split('.')[0] %></p>
    <% if (String(price).split('.')[1] === "") { %>
        <p class="priceDecimal">.<%= String(price).split('.')[1] %></p>
    <% } %>
    <p class="quantity">/<%= metric %></p>
</span>