<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/', accountType }) %>

    <section class="container">
        <div id="categories-segment" class="flex segment">
            <h3>Categories</h3>
            <div class="categories-section">
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Vegitables' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Fruits' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Dairy & Eggs' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Meat & Fish' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Flours & Doughs' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Spices, Seeds & Nuts' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Vitamins' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Beverages' }) %>
                <%- include('./components/categoryCard', { image: 'default.png', title: 'Others' }) %>
            </div>
        </div>

        <div id="farmers-segment" class="<%= producers.length < 1 ? 'hidden' : '' %> segment">
            <h3>In Producers</h3>
            <div class="users-section">
                <% producers.forEach((user) => { %>
                    <%- include('./components/userCard', { user }) %>
                <% }); %>
            </div>
        </div>

        <div id="traders-segment" class="<%= traders.length < 1 ? 'hidden' : '' %> segment">
            <h3>Traders</h3>
            <div class="users-section">
                <% traders.forEach((user) => { %>
                    <%- include('./components/userCard', { user }) %>
                <% }); %>
            </div>
        </div>

        <div id="agents-segment" class="<%= drivers.length < 1 ? 'hidden' : '' %> segment">
            <h3>In Drivers</h3>
            <div class="users-section">
                <% drivers.forEach((user) => { %>
                    <%- include('./components/userCard', { user }) %>
                <% }); %>
            </div>
        </div>

        <div id="products-segment" class="<%= products.length < 1 ? 'hidden' : '' %> segment">
            <h3>Recommended Products</h3>
            <div class="products-section">
                <% products.forEach((product) => { %>
                    <%- include('./components/productCard', { product }) %>
                <% }); %>
            </div>
        </div>
    </section>

    <%- include('./components/footer') %>
</body>

<%- include('./components/cartHandler') %>

</html>