<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/', accountType }) %>

    <section class="container">
        <div id="categories-segment" class="flex segment">
            <h3>Categories</h3>
            <div class="grid grid-flow-row grid-cols-3 justify-between gap-4 xs:grid-cols-4 sm:grid-cols-5">
                <%- include('./components/categoryCard', { image: 'vegitables.jpg', title: 'Vegitables' }) %>
                <%- include('./components/categoryCard', { image: 'fruits.jpg', title: 'Fruits' }) %>
                <%- include('./components/categoryCard', { image: 'dairy.jpg', title: 'Dairy & Eggs' }) %>
                <%- include('./components/categoryCard', { image: 'meet_fish.jpg', title: 'Meat & Fish' }) %>
                <%- include('./components/categoryCard', { image: 'flours.jpeg', title: 'Flours & Doughs' }) %>
                <%- include('./components/categoryCard', { image: 'spices.png', title: 'Spices, Seeds & Nuts' }) %>
                <%- include('./components/categoryCard', { image: 'processed.jpg', title: 'processed' }) %>
                <%- include('./components/categoryCard', { image: 'beverages.jpg', title: 'Beverages' }) %>
                <%- include('./components/categoryCard', { image: 'other.png', title: 'Others' }) %>
            </div>
        </div>

        <div id="farmers-segment" class="<%= producers.length < 1 ? 'hidden' : '' %> segment">
            <h3>In Producers</h3>
            <div class="flex flex-col gap-2">
                <% producers.forEach((user) => { %>
                    <%- include('./components/userCard', { user }) %>
                <% }); %>
            </div>
        </div>

        <div id="traders-segment" class="<%= traders.length < 1 ? 'hidden' : '' %> segment">
            <h3>Traders</h3>
            <div class="users-section">
                <% traders.forEach((user) => { %>
                    <%- include('./components/userCard', { user }) %>
                <% }); %>
            </div>
        </div>

        <div id="agents-segment" class="<%= drivers.length < 1 ? 'hidden' : '' %> segment">
            <h3>In Drivers</h3>
            <div class="users-section">
                <% drivers.forEach((user) => { %>
                    <%- include('./components/userCard', { user }) %>
                <% }); %>
            </div>
        </div>

        <div id="products-segment" class="<%= products.length < 1 ? 'hidden' : '' %> segment">
            <h3>Recommended Products</h3>
            <div class="grid grid-flow-row grid-cols-2 justify-between">
                <% products.forEach((product) => { %>
                    <%- include('./components/productCard', { product }) %>
                <% }); %>
            </div>
        </div>
    </section>

    <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2">
        <%- include('./components/assistantButton') %>
        <% if (accountType != 'consumer' && accountType != 'driver') { %>
            <%- include('./components/sellButton') %>
        <% } %>
    </div>

    <%- include('./components/footer') %>
</body>

<%- include('./components/cartHandler') %>

</html>
