<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Course' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/course', accountType }) %>

        <section class="container">
            <h1 class="text-wrap"><%= course.title %></h1>
            <div id="content-container"></div>
        </section>

        <%- include('./components/sellButton') %>

        <%- include('./components/footer') %>
</body>

<script type="module">
    import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    document.getElementById('content-container').innerHTML = marked.parse('<%= course.content %>');
</script>

</html>