<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Courses' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/courses', accountType }) %>

    <section class="container">
        <% courses.forEach(course => { %>
            <%- include('./components/courseCard', { _id: course._id, title: course.title, content: course.content }) %>
        <% }) %>
    </section>

    <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2">
        <%- include('./components/assistantButton') %>
        <% if (accountType != 'consumer' && accountType != 'driver') { %>
            <%- include('./components/sellButton') %>
        <% } %>
    </div>

    <%- include('./components/footer') %>
</body>

</html>