<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Course' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/course', accountType }) %>

        <section class="container">
            <h1 class="text-wrap"><%= course.title %></h1>
            <div id="content-container"></div>
        </section>

        <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2">
            <%- include('./components/assistantButton') %>
            <% if (accountType != 'consumer' && accountType != 'driver') { %>
                <%- include('./components/sellButton') %>
            <% } %>
        </div>

        <%- include('./components/footer') %>
</body>

<%- include("./components/background") %>

<script type="module">
    import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    console.log("<%= course.content %>")
    document.getElementById('content-container').innerHTML = marked.parse('<%= course.content %>');
</script>

</html>