<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/profile', accountType: accountType }) %>

    <section class="container">
        <div class="flex flex-col gap-1">
            <div class="w-full flex items-center gap-2">
                <img class="thumbnail-md rounded-full" src="/<%= user.avatar %>" alt="<%= user.username %>">
                <div class="main flex flex-col">
                    <h4><%= user.username %></h4>
                    <p><%= user.accountType %></p>
                </div>
                <% if (isMe) { %>
                    <a class="button bad ml-auto" href="/logout">Logout</a>
                <% } %>
            </div>
            <div class="flex flex-col gap-1">
                <a class="font-semibold" href="mailto:<%= user.email %>"><%= user.email %></a>
                <p class="font-semibold"><%= user.location %></p>
                <p class="text-text-700">Since <%= new Date(Date.parse(user.dateCreated)).getDay() %>/<%= new Date(Date.parse(user.dateCreated)).getMonth() %>/<%= new Date(Date.parse(user.dateCreated)).getFullYear() %></p>

                <% if (user.accountType === 'driver') { %>
                    <p class="text-text-700">driver's License: <%= user.driversLicense %></p>
                    <p class="text-text-700">Vehicle: <%= user.vehicleColor %> <%= user.vehicleModel %></p>
                    <%- include('./components/starRating', { rating: user.rating }) %>
                <% } %>
            </div>
        </div>

        <div class="actions flex items-center gap-2">
            <button class="button primary flex-grow" onclick="openContactModal()">Contact</button>
            <a class="button secondary flex-grow" href="/messages/<%= user._id %>/new">Message</a>
        </div>

        <% if (user.accountType === 'producer' || user.accountType === 'trader') { %>
            <div id="products-segment" class="segment">
                <h3>Products</h3>
                <div class="grid grid-flow-row grid-cols-2 justify-between">
                    <% if (products.length > 0) { %>
                        <% products.forEach(product => { %>
                            <%- include('./components/productCard', { product }) %>
                        <% }); %>
                    <% } else { %>
                        <p>No products found :/ ...</p>
                    <% } %>
                </div>
            </div>
        <% } %>

        <% if (accountType == 'driver') { %>
            <div class="flex flex-col gap-2 p-4 rounded-lg border-2 border-background-100 shadow-lg">
                <h2>Vehicle Preview:</h2>
                <% user.vehicleImages.forEach(image => { %>
                    <img class="rounded-lg" src="/<%= image %>" alt="Vehicle Preview">
                <% }); %>
            </div>
        <% } %>
    </section>

    <section onclick="closeModals()" id="modal-backdrop" class="fixed left-0 top-0 z-50 w-screen h-screen mt-0 block flex-col opacity-30 bg-background-900"></section>

    <section id="contact-modal" class="fixed top-0 left-0 z-50 h-full w-full flex items-center justify-center pointer-events-none">
        <div class="w-full max-w-72 flex flex-col items-center gap-2 p-4 bg-background-50 rounded-lg pointer-events-auto">
            <h1>Contact</h1>
            <% if (user.phoneNumbers.length > 0) { %>
                <% user.phoneNumbers.forEach(number => { %>
                    <button onclick="window.open('tel:<%= number %>')" class="p-2"><%= number %></button>
                <% }); %>
            <% } else { %>
                <p>No Mobile Number</p>
            <% } %>
        </div>
    </section>

    <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2 z-40">
        <%- include('./components/assistantButton') %>
        <% if (accountType != 'consumer' && accountType != 'driver') { %>
            <%- include('./components/sellButton') %>
        <% } %>
    </div>

    <%- include('./components/footer') %>

    <script>
        const contactModal = document.querySelector('#contact-modal');
        const modalBackdrop = document.querySelector('#modal-backdrop');

        const openContactModal = () => {
            contactModal.style.display = "flex";
            modalBackdrop.style.display = "flex";
        }
        
        const closeModals = () => {
            contactModal.style.display = "none";
            modalBackdrop.style.display = "none";
        }

        closeModals()
    </script>
</body>

<%- include("./components/background") %>

</html>