<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/profile', accountType: user.accountType }) %>

    <section class="container">
        <div class="flex flex-col gap-1">
            <div class="flex items-center gap-2">
                <img class="thumbnail-md rounded-full" src="/<%= user.avatar %>" alt="<%= user.username %>">
                <div class="main flex flex-col">
                    <h4><%= user.username %></h4>
                    <p><%= user.accountType %></p>
                </div>
            </div>
            <div class="flex flex-col gap-1">
                <p><%= user.email %></p>
                <p><%= user.location %></p>
                <p><%= user.dateCreated %></p>
                <% if (user.accountType === 'driver') { %>
                    <%- include('./components/starRating', { rating: user.rating }) %>
                <% } %>
            </div>
        </div>
        <div class="actions flex items-center gap-2">
            <button class="button primary flex-grow" onclick="openContactModal()">Contact</button>
            <button class="button secondary flex-grow" onclick="openMessageModal()">Message</button>
        </div>

        <% if (user.accountType === 'producer' || user.accountType === 'trader') { %>
            <div id="products-segment" class="segment">
                <h3>Products</h3>
                <div class="products-section">
                    <% if (products.length > 0) { %>
                        <% products.forEach(product => { %>
                            <%- include('./components/productCard', { product }) %>
                        <% }); %>
                    <% } else { %>
                        <p>No products found :/ ...</p>
                    <% } %>
                </div>
            </div>
        <% } %>
    </section>

    <section onclick="closeModals()" id="modal-backdrop" class="fixed top-0 z-40 w-screen h-screen block flex-col opacity-30 bg-background-900"></section>

    <section id="contact-modal" class="fixed z-50 h-full w-full flex items-center justify-center pointer-events-none">
        <div class="w-full max-w-72 flex flex-col items-center gap-2 p-4 bg-background-100 rounded-lg pointer-events-auto">
            <h1>Contact</h1>
            <% if (user.phoneNumbers.length > 0) { %>
                <% user.phoneNumbers.forEach(number => { %>
                    <button onclick="window.open('tel:<%= number %>')" class="p-2"><%= number %></button>
                <% }); %>
            <% } else { %>
                <p>No Mobile Number</p>
            <% } %>
        </div>
    </section>

    <section id="message-modal" class="fixed z-50 h-full w-full flex items-center justify-center pointer-events-none">
        <div class="w-full max-w-72 flex flex-col items-center gap-2 p-4 bg-background-100 rounded-lg pointer-events-auto">
            <h1>Mesage</h1>
            <% if (user.phoneNumbers.length > 0) { %>
                <% user.phoneNumbers.forEach(number => { %>
                    <button onclick="window.open('sms:<%= number %>')" class="p-2"><%= number %></button>
                <% }); %>
            <% } else { %>
                <p>No Mobile Number</p>
            <% } %>
        </div>
    </section>

    <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2">
        <%- include('./components/assistantButton') %>
        <% if (accountType != 'consumer' && accountType != 'driver') { %>
            <%- include('./components/sellButton') %>
        <% } %>
    </div>

    <%- include('./components/footer') %>

    <script>
        const contactModal = document.querySelector('#contact-modal');
        const messageModal = document.querySelector('#message-modal');
        const modalBackdrop = document.querySelector('#modal-backdrop');

        const openContactModal = () => {
            contactModal.style.display = "flex";
            modalBackdrop.style.display = "flex";
        }
        
        const openMessageModal = () => {
            messageModal.style.display = "flex";
            modalBackdrop.style.display = "flex";
        }

        const closeModals = () => {
            contactModal.style.display = "none";
            messageModal.style.display = "none";
            modalBackdrop.style.display = "none";
        }

        closeModals()
    </script>
</body>

</html>