<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/purchases', accountType }) %>

    <section class="container">
        <h1>My Cart</h1>
        <div class="cart-items flex flex-col gap-2">
            <% products.forEach((product) => { %>
                <%- include('./components/cartItemCard', { product }) %>
            <% }); %>
        </div>

        <% if (purchases) { %>
            <h1>My Purchases</h1>
            <div class="cart-items flex flex-col gap-2">
                <% purchases.forEach((product) => { %>
                <%- include('./components/purchaseCard', { product }) %>
                <% }); %>
            </div>
        <% } %>
    </section>
</body>

<%- include('./components/cartHandler') %>
</html>
