<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/purchases', accountType }) %>

    <section class="container">
        <h1>My Cart</h1>
        <div class="cart-items flex flex-col gap-2">
            <% products.forEach((product) => { %>
                <%- include('./components/cartItemCard', { product }) %>
            <% }); %>
        </div>

        <% if (purchases.length > 0) { %>
            <h1 class="mt-10">My Purchases</h1>
            <div class="cart-items flex flex-col gap-2">
                <% purchases.forEach((product) => { %>
                <%- include('./components/purchaseCard', { product }) %>
                <% }); %>
            </div>
        <% } %>
    </section>

    <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2">
        <%- include('./components/assistantButton') %>
        <% if (accountType != 'consumer' && accountType != 'driver') { %>
            <%- include('./components/sellButton') %>
        <% } %>
    </div>
</body>

<%- include('./components/cartHandler') %>
</html>
