<!doctype html>
<html lang="en">

<head>
    <%- include('./components/head', { title: product.title }) %>
</head>

<body>
    <%- include('./components/navbar', { activelink: '/purchase', accountType }) %>

    <section class="container">
        <%- include('./components/carousel', { images: product.images }) %>

        <p class="text-xl font-semibold"><%= product.title %></p>

        <form class="flex flex-col gap-2" action="/purchase/<%= product._id %>" method="post">
            <div class="quantity-section flex flex-col gap-4 p-4 bg-background-100 rounded-lg">
                <div class="header flex items-center justify-between">
                    <h2>quantity</h2>
                </div>
                <div class="flex items-center justify-between">
                    <input class="quantity-input w-20 text-center bg-background-50 rounded-lg" type="number" name="quantity" id="quantityInput" value="1" min="1" max="<%= product.quantity %>">
                    <%- include('./components/price', { currency: 'ghc', price: 56.77, metric: 'pcs', classes: 'price-lg' }) %>
                </div>
            </div>

            <div class="delivey-section flex flex-col gap-4 p-4 bg-background-100 rounded-lg">
                <div class="header flex items-center justify-between">
                    <h2>delivery method</h2>
                </div>
                <div class="flex flex-col gap-1">
                    <%- include('./components/methodcard', { image: '/images/delivery.svg', title: 'Delivery', description: 'Hire a driver to deliver you goods at your door step.' }) %>
                    <%- include('./components/methodcard', { image: '/images/pickup.svg', title: 'Pick Up', description: 'Pick up your products the next time you drop by.' }) %>
                </div>
            </div>

            <div class="delivey-section flex flex-col gap-4 p-4 bg-background-100 rounded-lg">
                <div class="header flex items-center justify-between">
                    <h2>price estimate</h2>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex item-center justify-between">
                        <p>price</p>
                        <%- include('./components/price', { currency: product.currency, price: product.price, metric: product.metric, classes: 'price-sm' }) %>
                    </div>
                    <div class="flex item-center justify-between">
                        <p>total</p>
                        <span class="price price-lg">
                            <p class="currency"><%= !product.currency ? "GHC" : product.currency.toUpperCase() %></p>
                            <p id="totalPrice" class="priceWhole"><%= product.price %></p>
                        </span>
                    </div>
                </div>
            </div>

            <input class="button primary" type="submit" value="purchase">
        </form>

        <% if (isPurchased || false) { %>
            <a href="/track/<%= product._id %>" class="button secondary">Track purchase</a>
            <button onclick="showReviewSection()" class="button secondary">review</button>
        <% } %>
    </section>

    <section onclick="closeModals()" id="modal-backdrop" class="fixed top-0 z-50 w-screen h-screen mt-0 block flex-col opacity-30 bg-background-900"></section>

    <section id="review-section" class="fixed bottom-0 z-50 h-max w-full">
        <div class="flex flex-col gap-2 p-4 bg-background-100 rounded-t-lg">
            <div class="header flex items-center justify-between">
                <h2>review</h2>
                <button class="icon-base" onclick="closemodals()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none"><path d="m6.75806 17.2431l12.0011 12.0001l17.2441 17.2431m17.2441 6.75708l12.0001 12.0001l6.75806 6.75708" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </button>
            </div>
            <form action="/review/<%= product._id %>" method="post" class="h-[50vh] flex flex-col gap-4 overflow-y-scroll">
                <%- include('./components/ratinginput') %>
                <textarea required class="p-2 rounded-lg" name="comment" id="comment" cols="30" rows="10" placeholder="give us your feedback..."></textarea>
                <input type="submit" value="submit review">
            </form>
        </div>
    </section>

    <div class="fixed bottom-0 right-0 m-8 flex flex-col items-center gap-2">
        <%- include('./components/assistantButton') %>
        <% if (accountType != 'consumer' && accountType != 'driver') { %>
            <%- include('./components/sellButton') %>
        <% } %>
    </div>

    <%- include('./components/footer') %>
</body>

<script>
    const reviewsection = document.querySelector('#review-section')
    const modalbackdrop = document.querySelector('#modal-backdrop')

    const closeModals = () => {
        reviewsection.classList.replace('h-max', 'h-0');
        modalbackdrop.classList.replace('block', 'hidden');
    }

    const showReviewSection = () => {
        reviewsection.classList.replace('h-0', 'h-max');
        modalbackdrop.classList.replace('hidden', 'block');
    }

    const input = document.querySelector("#quantityInput")
    const priceElement = document.querySelector("#totalPrice")

    input.addEventListener('change', () => {
        priceElement.innerHTML = Math.ceil((Number('<%= product.price %>') * input.value) * 100 / 100);
    }) 

    closeModals()
</script>

<%- include("./components/background") %>

</html>
